.updateAppTitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.updateApplicationList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 16px;
}