.titlebar {
    flex: 0 0 3.6rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    background-color: var(--color-fill-2);
    color: var(--text-color-1);
    padding: 0 1rem;
    .titlebarLeft {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        .logo {
            width: 2rem;
            height: 2rem;
            pointer-events: none;
        }
    }
    .titlebarRight {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .title {
            cursor: pointer;
            :global(.arco-icon) {
                font-size: 1.2rem;
            }
        }
    }
}
