.box {
    width: 17.5rem;
    height: 6.75rem;
    padding: 1.25rem 0.875rem;
    display: flex;
    align-items: center;
    background: #F6F6F6;
    border-radius: 0.5rem;
    user-select: none;
    cursor: default;

    .soft_icon {
        width: 4.25rem;
        height: 4.25rem;
        margin-right: 1.5rem;
    }

    .soft_content {
        flex: 1;
        width: 0; // 设置width 为 0
        height: 4.25rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .name {
            font-weight: 500;
            font-size: 1rem;
            color: #383838;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        .description {
            font-size: 0.875rem;
            color: #5F5B5B;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        .version_container {
            position: relative;
            height: 1.75rem;
            font-size: 0.875rem;
            color: #5F5B5B;
            text-align: left;

            .version_text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }

            .install_button {
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity 0.3s ease, transform 0.3s ease;

                .btn {
                    font-size: 0.875rem;
                    width: 5.25rem;
                    height: 1.75rem;
                    background: #409EFF;
                }
            }

            .visible {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }

            .hidden {
                opacity: 0;
                transform: translateY(5px);
                pointer-events: none;
            }
        }
    }
}