.appBox {
    padding-top: 1rem;

    .appList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: 16px;
    }
}

.customTabs {
    :global {
        .ant-tabs-nav::before {
            height: 0;
        }

        .ant-tabs-ink-bar {
            border-radius: 1rem;
        }
    }
}