.carouselItem {
    width: 100%;
    padding: 2rem;
    background: var(--ant-blue-4);
    display: flex !important;
    align-items: center;
    justify-content: center;

    .carouselItemIcon {
        height: 8rem;
        width: 8rem;
    }

    .carouselItemContent {
        // flex: 1;
        min-width: 12rem;
        margin-left: 2rem;

        .installButton {
            margin-top: 1rem;
        }
    }
}