.applicationList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 16px;
}

.tabBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-bottom: 2rem;


  .btn {
    width: 6.5rem;
    font-size: 1rem;
    margin: 0 0.75rem 0.75rem 0;
  }
}